@model Library.Models.BooklistGenreViewModel


@{
    ViewData["Title"] = "Books";
}

<h1 class=" text-center">Book List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    <img src="~/images/images.png" alt="Cinque" position="topleft">
    <div class="text-xl-left">Top Right</div>
</div>

<form asp-controller="Booklist" asp-action="Index" method="get">
    <p>

        <select asp-for="BooklistGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString">
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table table-bordered table-hover table table-striped">
    <thead>
        <tr class=" bg-info text-white ">
            <th class=" bg-info text-white ">
                @Html.DisplayNameFor(model => model.Booklist[0].BookName)
            </th>
            <th class=" bg-info text-white ">
                @Html.DisplayNameFor(model => model.Booklist[0].Author)
            </th>
            <th class=" bg-info text-white ">
                @Html.DisplayNameFor(model => model.Booklist[0].Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Booklist)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
