@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "All Roles";
 }

    <h1>All Roles</h1>

    @if (Model.Any())
    {
         <a  asp-controller="Role" asp-action="CreateRole" class="btn btn-primary mb-3" style="width:auto"> Add New Role </a>

        foreach(var role in Model)
        {
            <div class="card mb-3">
                <div class="card-header">
                    Role Id : @role.Id
                </div>
                <div class="card-body">
                    <h5 class="card-title"> @role.Name </h5>
                </div>
                <div class="card-footer">
                    <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                        <a asp-controller="Role" asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                        <span id="confirmDeleteSpan_@role.Id" style="display:none">
                            <span>Are you sure you want to delete this role?</span>
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a href="#" class="btn btn-primary" onclick="confirmDelete('@role.Id', false)">No</a>
                        </span>
                        <span id="deleteSpan_@role.Id">
                            <a href="#" class="btn btn-danger" onclick="confirmDelete('@role.Id', true)">Delete</a>
                        </span>
                    </form>
                </div>
            </div>
        }
    }
    else
    {
        <div class="card">
            <div class="card-header">
                No roles existed
            </div>
            <div class="card-body">
                <h5 class="card-title">Please create a role by clicking on the below button</h5>
                <a asp-controller="Role" asp-action="Create Role" class="btn btn-primary" style="width:auto" > Create Role </a>
            </div>
        </div>
    }

@section scripts {
    <script src="~js/CustomScript.js"></script>
}